@font-face{
    font-family: 'Atyp Display';
    src: url(../fonts/AtypDisplay-Light.woff2);
    font-style: normal;
    font-weight: 333;
}

@font-face{
    font-family: 'Atyp Display';
    src: url(../fonts/AtypDisplay-Thin.woff2);
    font-style: normal;
    font-weight: 280;
}

@font-face{
    font-family: 'Atyp Display';
    src: url(../fonts/AtypDisplay-Regular.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Atyp Display';
    src: url(../fonts/AtypDisplay-Medium.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'Elanor';
    src: url(../fonts/ElanorFreePersonalUse-ExtLt.woff2);
    font-style: normal;
    font-weight: 600;
}

